@use '../../../abstracts/functions' as fn;
@use '../../../abstracts/mixins' as mix;
@use '../../../abstracts/var';


// =============================================================================
// ===   Showcase   ============================================================
// =============================================================================
.page--what-ive-made{
  .custom-section{
    .showcase{
      width: 100%;
      @include mix.clamped( margin-top, 36, 141 );
      @include mix.flex($align: center);


      // =======================================================================
      // ===   Chevron   =======================================================
      // =======================================================================
      &__chevron{ 
        cursor: pointer;
        display: inline-block;
        flex-shrink: 0;
      }
      &__chevron img{

        display: inline-block;
        width: 100%;
        height: 100%;
      }
      &__chevron--right{ 
        transform: scaleX(-1);
      }
      

      // =======================================================================
      // ===   Items   =========================================================
      // =======================================================================
      &__items{ 
        @include mix.clamped(margin-left, 16, 32);
        @include mix.clamped(margin-right, 16, 32);
      }
      &__items__item{ 
        display: inline-block;
      }
      &__items__item::before{
        background-color: var.$img-bg;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &__items__item--inactive{ 
        display: none;
        position: absolute;
      }
      &__items__item--active{ 
        display: block;
        position: relative;
      }
      &__items__item img{
        display: block;
        position: relative;
        transform: translate(fn.clamp-values(10, 20), fn.clamp-values(-10, -20));
        transition: all 800ms ease;
        z-index: 1;
      }
      &__items__item img:hover{
        transform: translate(0, 0);
      }
    }
  }
}


// =============================================================================
// ===   Showcase Item Animation   =============================================
// =============================================================================
.page--what-ive-made{
  .custom-section{ 
    .showcase{
      &__items{
        &__item{
          &--active{
            &--from-left{
              animation: var.$ani-dur showcase__items__item--active--from-left ease forwards;
            }
          }
        }
      }
    }
  }
}
// @keyframes showcase__items__item--active--from-left{ 
  // 0%{
    // transform: translateX(-116%);
  // }
  // 100%{
    // transform: translateX(0);
  // }
// }



// =============================================================================
// ===   Showcase Item Image Animation   =======================================
// =============================================================================
.page--what-ive-made{
  .custom-section{ 
    .showcase__items__item__img--active{
      transform: translate(0, 0);
    }
  }
}
@keyframes showcase__items__item__img--active{ 
  0%{
    transform: translateX(-116%);
  }
  100%{
    transform: translateX(0);
  }
}
