<template>
  <div class="page page--writings" v-show="pageTitle === 'Writings...'">
    <main class="hero">
      Coming Soon...
    </main>
  </div>
</template>


<script>
export default {
  props: ['pageTitle',],
}
</script>
