@use '../../../abstracts/mixins' as mix;
@use '../../../abstracts/var';

.logo-wrapper {
	z-index: 2;
	display: inline-block;
	position: fixed;
	@include mix.clamped(top, 24, 47);
}

.logo {
	@include mix.flex($align: center);
	@include mix.clamped(gap, 8, 16);

	&__line {
		background-color: black;
		@include mix.clamped(width, 50.49, 76.5);
		@include mix.clamped(height, 4, 8);
	}

	&__itself {
		@include mix.font(var.$f-header, 21, 32, 700);
	}
}
