@use '../../../abstracts/mixins' as mix;
@use '../../../abstracts/var';

.menu-wrapper{
  display: inline-block;
  position: fixed;
  visibility: hidden;
  z-index: 2;
  @include mix.clamped(right, 18, 47);
  @include mix.clamped(top, 30, 55);
}

.menu{

  &__line{
    background-color: var.$secondary;
    @include mix.clamped(width, 24, 32);
    @include mix.clamped(height, 2.4, 4);
  }
  &__line:not(:last-child){
    @include mix.clamped(margin-bottom, 4, 6);
  }
}

.menu-animate--from-home{
  animation: menu-animate--from-home forwards var.$ani-dur ease ;
}
.menu-animate--to-home{
  animation: menu-animate--to-home forwards var.$ani-dur ease ;
}

@keyframes menu-animate--from-home {
  0%{
    visibility: hidden;
    transform: translateX(0);
  } 
  50%{
    visibility: hidden;
    transform: translateX(var.$ani-distance);
  } 
  100%{
    visibility: visible;
    transform: translateX(0);
  } 
}

@keyframes menu-animate--to-home {
  0%{
    visibility: visible;
    transform: translateX(0);
  } 
  50%{
    visibility: hidden;
    transform: translateX(var.$ani-distance);
  } 
  100%{
    visibility: hidden;
    transform: translateX(0);
  } 
}
