@use '../../../abstracts/mixins' as mix;
@use '../../../abstracts/var';

.page-title-wrapper{
  position: fixed;
  right: 0;
  top: 7.4rem;
  visibility: hidden;
  z-index: 2;

  @include mix.for-size(tablet){
    top: 0;
    transform: rotate(90deg) translate(100%);
    transform-origin: top right;
    @include mix.clamped(right, 56, 126);
  }
}

.page-title{
  gap: 1.6rem;
  @include mix.flex(row-reverse, $align: center);

  @include mix.for-size(tablet){
    flex-direction: row;
  };

  &__line{
    background-color: var.$secondary;
    @include mix.clamped(height, 6, 8);
    @include mix.clamped(width, 96, 128);
  }

  &__itself{
    text-align: right;
    @include mix.header-font();
  }
}


// =============================================================================
// ===   Page Title Animation   ================================================
// =============================================================================

.page-title-animate--from-home{
  animation: page-title--animate--from-home forwards var.$ani-dur ease ;
  @include mix.for-size(tablet){
    animation: page-title--tablet-animate--from-home forwards var.$ani-dur ease ;
  }
}
.page-title-animate--to-home{
  animation: page-title--animate--to-home forwards var.$ani-dur ease ;
  @include mix.for-size(tablet){
    animation: page-title--tablet-animate--to-home forwards var.$ani-dur ease ;
  }
}

@keyframes page-title--animate--from-home {
  0%{
    transform: translateX(0);
    visibility: hidden;
  } 
  50%{
    transform: translateX(var.$ani-distance);
    visibility: hidden;
  } 
  100%{
    transform: translateX(0);
    visibility: visible;
  } 
}
@keyframes page-title--animate--to-home {
  0%{
    transform: translate(0);
    visibility: visible;
  } 
  50%{
    transform: translate(var.$ani-distance);
    visibility: hidden;
  } 
  100%{
    transform: translate(0);
    visibility: hidden;
  } 
}
@keyframes page-title--tablet-animate--from-home {
  0%{
    visibility: hidden;
    transform: rotate(90deg) translate(100%);
    top: 0;
  } 
  50%{
    visibility: hidden;
    transform: rotate(90deg) translate(100%);
    top: -#{var.$ani-distance};
  } 
  100%{
    visibility: visible;
    transform: rotate(90deg) translate(100%);
    top: 0;
  } 
}
@keyframes page-title--tablet-animate--to-home {
  0%{
    visibility: visible;
    transform: rotate(90deg) translate(100%);
    top: 0;
  } 
  50%{
    visibility: hidden;
    transform: rotate(90deg) translate(100%);
    top: -#{var.$ani-distance};
  } 
  99%{
    transform: rotate(90deg) translate(100%);
    top: 0;
  }
  100%{
    visibility: hidden;
    top: 0;
  } 
}
