<template>
  <div :class="['logo-wrapper', 'logo--intro---animate']">
    <g-link to="/" class="logo">
      <div class="logo__line"></div>
      <span class="logo__itself">
        refmathew
      </span>
    </g-link>
  </div>
</template>

<script>
export default {
  name: 'HeaderLogo',
}
</script>
